<section class="previusruling">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 previusruling-content">
                <div class="overlay"></div>
                <div class="info d-flex align-items-center justify-content-between">
                    <h3 class="text-dark">Is there anyone else you  would  us to add? </h3>
                    <button class="btn btn-light">Submit Name</button>
                </div>
            </div>
        </div>
    </div>
</section>
