
    <div class="image-background" [style]="backgroundImage(infoItemVote.image)"></div>
    <div class="overlay"></div>
    <div class="info">
        <h2 class="title">
            <button *ngIf="likesPercentage > dislikesPercentage" class="btn btn-primary like fadeIn">
                <img src="assets/img/like.svg" alt="like">
            </button >
            <button *ngIf="likesPercentage < dislikesPercentage" class="btn btn-secondary dislike fadeIn">
                <img src="assets/img/dislike.svg" alt="like">
            </button>
            {{ infoItemVote.nombre }}
        </h2>
        <p class="date">{{ infoItemVote.date }}</p>
        <p *ngIf="!voteAgain" class="text" data-aos="fade-up" data-aos-once="true">{{ infoItemVote.textInfo }}</p>
        <p *ngIf="voteAgain" class="text" data-aos="zoom-in" data-aos-once="true">Than you for voting!</p>
        <div class="buttons-now w-70" *ngIf="!voteAgain" data-aos="fade-up" data-aos-once="true">
            <button class="btn btn-primary like" (click)="likeType = 'like'" [ngClass]="{'active': likeType == 'like'}" >
                <img src="assets/img/like.svg" alt="like">
            </button>
            <button class="btn btn-secondary dislike" (click)="likeType = 'dislike'" [ngClass]="{'active': likeType == 'dislike'}">
                <img  src="assets/img/dislike.svg" alt="dislike">
            </button>
            <button class="btn btn-light vote-now" (click)="vote(true)">Vote Now</button>
        </div>
        <div class="buttons-now w-70" *ngIf="voteAgain" data-aos="zoom-in" data-aos-once="true">
            <button class="btn btn-light vote-now" (click)="likeType = 'init'; voteAgain = false">Vote again</button>
        </div>
    </div>
    <div class="votes-percentage d-flex">
        <div class="likes-percentage d-flex justify-content-start align-items-center text-left" [style]="percentageStyle(likesPercentage)">
            <div class="overlay"></div>
            <div class="d-flex d-flex justify-content-start align-items-center percentage likes">
                <img src="assets/img/like.svg" alt="like">
                <h3>{{ likesPercentage }}%</h3>
            </div>
            
        </div>
        <div class="dislikes-percentage d-flex justify-content-end align-items-center text-right" [style]="percentageStyle(dislikesPercentage)">
            <div class="overlay"></div>
            <div class="d-flex justify-content-start align-items-center percentage dislikes">
                <h3>{{ dislikesPercentage }}%</h3>
                <img  src="assets/img/dislike.svg" alt="dislike">
            </div>
        </div>
    </div>