<section class="home fadeIn">
    <section class="slide-home page mb-5 ">
        <div class="overlay-page"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mt-5  item-slide text-center" data-aos="fade-up" >
                    <h2 class="display-3 mt-5">How Works</h2>
                    <p class="font-weight-light" data-aos="fade-left" data-aos-delay="300">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate tempore dignissimos iusto, provident recusandae velit, iure numquam atque facere necessitatibus, vel earum quos repellendus aliquam officia ipsum rem ut eius!</p>
                    <h5 data-aos="fade-up" data-aos-delay="800" >Lorem, ipsum dolor sit amet consectetur adipisicing elit</h5>
                </div>
            </div>
        </div>
        <div class="closing-days w-100 d-flex">
            <div class="closing text-right d-flex align-items-center justify-content-end">CLOSING IN</div>
            <div class="days d-flex align-items-center font-weight-normal"> 22  <span class="font-weight-light" >days</span>    </div>
        </div>
    </section>
    <app-previusruling></app-previusruling>
    <app-footer></app-footer>
</section>

