<div class="container-fluid login-section fadeIn">
    <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
        <h3>
            Motivation is to think that we are part of something bigger, that we are necessary, that we have a goal to work for. Motivation is what makes us really happy - Mark Zuckerberg</h3>
    </div>
    <div class="col-md-8 col-lg-6">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
            <h3 *ngIf="id === 'login'" class="login-heading mb-4">Login</h3>
            <h3 *ngIf="id === 'signin'" class="login-heading mb-4">Sign in</h3>
            <form (ngSubmit)="login(loginFrom)" #loginFrom="ngForm"  id="loginFrom"  *ngIf="id === 'login'">
                <div class="form-label-group">
                    <input type="text" id="inputUserName" [(ngModel)]="user" name="inputUserName" inputUserName="ngModel" class="form-control" placeholder="User Name" required autofocus>
                    <label for="inputEmail">User Name</label>
                </div>
                <div class="form-label-group">
                    <input type="password" id="inputPassword" [(ngModel)]="pass"  name="inputPassword" inputPassword="ngModel" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                </div>
                <button type="submit" [disabled]="!loginFrom.form.valid" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" >Login</button>
                <div class="text-center d-flex flex-column">
                 <a class="small mt-4" [routerLink]="['/login_signup/signin']" >Register</a>
                 <a class="small mt-4" [routerLink]="['/']" routerLinkActive="router-link-active" >Back home </a>
                </div>
            </form>
            <form #registerForm="ngForm" id="registerForm" (ngSubmit)="register(registerForm)" *ngIf="id === 'signin'">
                <div class="form-label-group">
                    <input type="text" id="userRegister"  [(ngModel)]="userRegister" name="inputUserNameRegister" inputUserNameRegister="ngModel" class="form-control" placeholder="User name" required autofocus>
                    <label for="inputEmail">User Name</label>
                </div>
                <div class="form-label-group">
                    <input type="number" id="age" [(ngModel)]="age" name="ageRegister" ageRegister="ngModel" class="form-control" placeholder="Age " required autofocus>
                    <label for="inputEmail">Age</label>
                </div>
                <div class="form-label-group">
                    <select id="inputEmail" [(ngModel)]="status" name="statusRegister" statusRegister="ngModel" class="form-control" placeholder="Status Civil" required autofocus>
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                        <option value="free_union">Free Union</option>
                    </select>
                    <label for="inputEmail">Status Civil</label>
                </div>
                <div class="form-label-group">
                    <input type="password" id="passRegister" [(ngModel)]="passRegister" name="inputpassRegister" inputpassRegister="ngModel" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" >Create Account</button>
                <div class="text-center d-flex flex-column">
                <a class="small mt-4" [routerLink]="['/login_signup/login']" >Login</a>
                 <a class="small mt-4" [routerLink]="['/']" routerLinkActive="router-link-active" >Back home </a>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
<app-loader [loader]="loader"></app-loader>
