/* You can add global styles to this file, and also import other style files */

/*  --------------------- Custom theme for Zemoga Test ---------------------- */

// Fuente
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');
$Lato:  'Lato', sans-serif;

// Colors
$primary: #1cbbb4;
$primary_opacity: rgb(28 187 180 / 72%);
$secondary: #ffad1d;
$secondary_opacity: rgb(255 173 29 / 72%);
$header-text: white;
$gray: #838383;

/* ----------------------- mixins ----------------------------------*/
@mixin bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 
}
@mixin likeStyle($color) {
    background: $color;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

// General styles
body, html{
    background: white;
    font-family: $Lato;
   
}
h1.title{
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 50px;
}
button{
    border: 0px solid transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 25px;
    }
    &:hover{
        img{
            @include bounceIn;
        }
        
    }
    &:focus{
        -webkit-box-shadow: inset 0 0 0 3px white !important;
        -moz-box-shadow: inset 0 0 0 3px white !important;
        box-shadow: inset 0 0 0 3px white !important;  
    }
    &.active{
        -webkit-box-shadow: inset 0 0 0 3px white !important;
        -moz-box-shadow: inset 0 0 0 3px white !important;
        box-shadow: inset 0 0 0 3px white !important;  
    }
}

// Botones
.btn-primary{
    background-color: $primary !important;
    border-color: $primary !important;
    border-radius: 0px !important;
}
.btn-secondary{
    background-color: $secondary !important;
    border-color: $secondary !important;
    border-radius: 0px !important;
}
.btn-light{
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 0px !important;
    border: 1px solid white !important;
    color: white !important;
}
.jumbotron{
    border-radius: 0px !important;
}
// Sweet Aert css custom
.swal2-confirm{
    background: $secondary !important;
    border-radius: 0px !important;
}
.swal2-close{
    &:focus{
        outline: none !important;
    }
}
header{
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgb(85,85,85);
    background: linear-gradient(180deg, #333333d1 6%, rgba(255, 255, 255, 0) 102%);
    z-index: 1;
    .menu, .row{
        height: 100%;
        .logo{
            font-size: 30px;
            a{
                color: $header-text;
                text-decoration: none;
                &:hover{
                    text-decoration: none; 
                }
            }
        }
        ul{
            li{
                color: $header-text;
                margin-right: 100px;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    color: $header-text;
                    display: inline !important;
                    font-size: 17px;
                    font-weight: lighter;
                    position: relative;
                    &.active:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        display: inline-block;
                        height: 1em;
                        width: 100%;
                        border-bottom: 1px solid;
                        margin-top: 10px;
                        opacity: 1;
                          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                          transition: opacity 0.35s, transform 0.35s;
                          -webkit-transform: scale(1);
                          transform: scale(1);
                    }
                    img{
                        width: 20px;
                    }
                }
            }
            
        }
    }
    
}

section.slide-home {
    padding-top: 100px;
    background: url('assets/img/background-slide-home.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;
    position: relative;
    .overlay-page{
        background: rgba(34, 34, 34, 0.61);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
    .item-slide{
        position: relative;
        overflow: hidden;
        margin-top: 50px;
        color: white;
        padding: 0;
        .overlay{
            background: rgba(97, 96, 96, 0.61);
            height: 100%;
            filter: blur(5px);
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            -webkit-filter: blur(5px);
            z-index: 0;
        }
        
        .text{
            padding: 20px 30px;
            position: relative;
            z-index: 1;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            a{
                color: white;
                font-size: 12px;
                position: relative;
                text-decoration: none;
                margin-bottom: 25px;
                img{
                    width: 15px;
                    margin-right: 2px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .buttons-vote{
            button{
                height: 70px;
                background: transparent !important;
                position: relative;
                img{
                    position: relative;
                    z-index: 1;
                }
                &.like{
                    .overlay-button{
                        @include likeStyle($primary_opacity);
                    }
                }
                &.dislike{
                    .overlay-button{
                        @include likeStyle($secondary_opacity);
                    }
                }
            }
        }
    }
    .closing-days{
        bottom: 0;
        height: 50px;
        left: 0;
        position: absolute;
        .closing{
            width: 30%;
            padding: 15px;
            font-size: 14px;
            background: rgba(0, 0, 0, 0.192);
            color: white;
            position: relative;
            
        }
        .days{
            background: rgba(247, 247, 247, 0.664);
            font-size: 35px;
            width: 70%;
            padding: 10px 20px;
            position: relative;
            span{
                margin-left: 10px;
                font-size: 28px;
            }
            &:before{
                border-style: solid;
                border-width: 7.5px 0 7.5px 10px;
                border-color: transparent transparent transparent rgba(0, 0, 0, 0.192);
                content: '';
                height: 0;
                position: absolute;
                left:  0px;
                width: 0;
            }
        }
    }
}

section.votes{
    .be-counted-message{
        margin: 50px 0px 50px 0px;
        padding: 20px;
        h4, h2, p{
            margin-bottom: 0px;
            font-weight: normal;
        }
        p{
            font-size: 15px;
        }
        h2{
            font-size: 28px;
            font-weight: bold;
        }
    }
    .items-votes{
        .item{
            color: white;
            height: 550px;
            margin-bottom: 50px;
            max-width: 45%;
            padding-bottom: 50px;
            position: relative;
            overflow: hidden;
            &:nth-child(2n){
                margin-left: 10%;
            }
            &:hover{
              .image-background{
                transform: scale(1.1);
                transition: all .25s;
              }  
            }
            .overlay{
                background: rgb(27,27,27);
                background: linear-gradient(0deg, hsl(0deg 0% 11% / 79%) 0%, rgba(45, 44, 44, 0.7147233894) 47%, rgba(249, 249, 249, 0) 100%);
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 0;
            }
            .image-background{
                background-position: left;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 0;
            }
            .info{
                z-index: 1;
                position: relative;
                padding: 40px 40px 50px 40px;
            }
            .title{
                button{
                    height: 45px;
                    left: -15px;
                    position: absolute;
                }
                img{
                    width: 25px;
                }
            }
            .text{
                font-weight: lighter;
            }
            .buttons-now{
                z-index: 1;
                button{
                    margin-right: 15px;
                    height: 45px;
                    &.vote-now:hover{
                        background: white !important;
                        border: 1px solid white !important;
                        color: black !important;
                    }
                }
            }
            .overlay-item{
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
            .votes-percentage{
                bottom: 0;
                height: 60px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 1;
                .likes-percentage{
                    padding: 10px;
                    background: transparent;
                    position: relative;
                    transition: width 0.25s  ease-out;
                    .overlay{
                        background: $primary;
                        height: 100%;
                        opacity: 0.6;
                        position: absolute;
                        width: 100%;
                        z-index: 0;
                    }
                    img{
                        margin-bottom: 4px;
                    }
                }
                .dislikes-percentage{
                    background: transparent;
                    padding: 10px;
                    position: relative;
                    transition: width 0.25s  ease-out;
                    .overlay{
                        background: $secondary;
                        height: 100%;
                        opacity: 0.6;
                        position: absolute;
                        width: 100%;
                        z-index: 0;
                    }
                    img{
                        margin-top: 4px;
                    }
                    h3{
                        margin-right: 10px;
                        margin-left: 0px;
                    }
                }
                .percentage{
                    position: relative;
                    z-index: 1;
                    h3{
                        font-weight: lighter;
                        margin-bottom: 0;
                        margin-left: 10px;
                        font-size: 28px;
                    }
                    img{
                        width: 30px;
                    }
                }
            }
        }
    }
}

section.previusruling{
    .previusruling-content{
        background-image: url('assets/img/previusruling.png');
        background-position: center;
        background-size: cover;
        height: 90px;
        margin-bottom: 40px;
        position: relative;
        .overlay{
            background-color: white;
            height: 100%;
            left: 0;
            opacity: 0.8;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
        .info{
            height: 100%;
            position: relative;
            z-index: 2;
            h3{
                margin-bottom: 0;
                font-weight: lighter;
            }
            button{
                border: 2px solid black !important;
                color: black !important;
                font-size: 20px;
                padding-left: 40px;
                padding-right: 40px;
                &:hover{
                    background-color: black !important;
                    color: white !important;
                }
            }
        }
    }   
}

/* ---------------------- login ------------------------------------------*/
.login-section{
     :root {
        --input-padding-x: 1.5rem;
        --input-padding-y: 0.75rem;
      }
      
      .login,
      .image {
        min-height: 100vh;
      }
      
      .bg-image {
        background-image: url('assets/img/bg-login.png');
        background-size: cover;
        background-position: center;
        h3{
            color: white;
            font-weight: lighter;
            font-family: 20px;
            margin-top: 55%;
            text-align: center;
            text-shadow: 2px 2px 2px black;
            padding-left: 5%;
            padding-right: 5%;
        }
      }
      
      .login-heading {
        font-weight: 300;
      }
      
      .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
        border-radius: 2rem;
      }
      
      .form-label-group {
        position: relative;
        margin-bottom: 1rem;
      }
      
      .form-label-group>input,
      .form-label-group>label {
        padding: var(--input-padding-y) var(--input-padding-x);
        height: auto;
        border-radius: 0px;
        height: 35px;
        font-size: 16px;
        font-family: $Lato;
        padding: 5px;
      }
      
      .form-label-group input::-webkit-input-placeholder {
        color: transparent;
      }
      
      .form-label-group input:-ms-input-placeholder {
        color: transparent;
      }
      
      .form-label-group input::-ms-input-placeholder {
        color: transparent;
      }
      
      .form-label-group input::-moz-placeholder {
        color: transparent;
      }
      
      .form-label-group input::placeholder {
        color: transparent;
      }
      
      .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
      }
      
      .form-label-group input:not(:placeholder-shown)~label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
      }
      
      /* Fallback for Edge
      -------------------------------------------------- */
      
      @supports (-ms-ime-align: auto) {
        .form-label-group>label {
          display: none;
        }
        .form-label-group input::-ms-input-placeholder {
          color: #777;
        }
      }
      
      /* Fallback for IE
      -------------------------------------------------- */
      
      @media all and (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
        .form-label-group>label {
          display: none;
        }
        .form-label-group input:-ms-input-placeholder {
          color: #777;
        }
      }
      
}


footer{
    font-size: 13px;
    margin-bottom: 25px;
    .nav-footer{
        border-top: 1px solid rgb(211, 211, 211);
        border-top-style: dashed;
        padding-top: 30px;
        div{
            padding: 0;
        }
    }
    ul{
        li{
            color: $gray;
            margin-left: 15px;
            &:first-child{
                margin-left: 0;
            }
            a{
                color: $gray;
                position: relative;
                &:hover{
                    color: $primary;
                    text-decoration: none;
                }

            }
            img{
                width: 25px;
            }
        }
    }
}





/* ------------------------   Efectos --------------------- */
a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 

// Custom opacity Class
.opacity-0 {
opacity:0!important;
}
.opacity-1 {
opacity:0.2!important;
}
.opacity-2 {
opacity:0.4!important;
}
.opacity-3 {
opacity:0.6!important;
}
.opacity-4 {
opacity:.91!important;
}
.opacity-5 {
opacity:1!important;
}

/* ----------------------------- Responsive ----------------------------- */

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    // Header
    .logo{
        justify-content: center;
    }
    
    header .menu ul li, header .row ul li{
        margin-right: 0;
    }
    // Home
    section.votes .items-votes .item{
        max-width: 100%;
    }
    section.votes .items-votes .item:nth-child(2n){
        margin-left: 0;
    }
    .be-counted-message{
        position: relative;
        .close-column{
            position: absolute;
            right: 10px;
            top: 10px;
            width: 10px;
        }
    }
    

    
}

/* --------------- CrossBroswing ----------------------------*/
// Mozilla Firefox






