<div class="jumbotron  row be-counted-message">
    <div class="col-lg-2 col-sm-12 d-flex justify-content-center flex-column">
        <h4>Hello, world!</h4>
        <h2>Be counted</h2>
    </div>
    <div class="col-lg-9 col-sm-12 d-flex justify-content-center flex-column ">
        <p class="lead">Rule of Thumn is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It´s easy: You share your opinion, we analize and put the dada in a public report</p>
    </div>
    <div class="col-lg-1 d-flex justify-content-center align-items-center flex-column close-column">
        <p class="lead">X</p>
    </div>
</div>
