<header class="container-fluid">
    <div class="container menu">
        <div class="row d-flex justify-content-center aling-items-center">
            <div class="logo col-lg-4 d-flex  align-items-center">
                <a [routerLink]="['/']">Rule of Thumb</a>
            </div>
            <nav class="navbar col-lg-8 d-flex justify-content-end">
                <div class="nav-bar-collapse w-100">
                    <ul class="navbar-nav mr-auto d-flex justify-content-lg-end justify-content-sm-between justify-content-between aling-items-center flex-row w-100">
                        <li class="nav-item active">
                            <a class="nav-link effect-underline" [routerLink]="['/pasttrials']" routerLinkActive="active" > Past Trials</a>
                            </li>
                        <li class="nav-item ">
                            <a class="nav-link effect-underline" [routerLink]="['/howworks']" routerLinkActive="active"> How it Works</a>
                        </li>
                        <li class="nav-item ">
                            
                            <a *ngIf="user == null" class="nav-link effect-underline" [routerLink]="['/login_signup', 'login']" routerLinkActive="active" > Log In </a> 
                            <a *ngIf="user != null" class="nav-link effect-underline" (click)="logout()" href="#" >Welcome {{user.user}} - Logout</a> 
                             /   
                            <a *ngIf="user == null" class="nav-link effect-underline" [routerLink]="['/login_signup', 'signin']" routerLinkActive="active"> SignUp </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#"> 
                                <img src="assets/img/search.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

