<footer>
    <div class="container nav-footer">
        <div class="row">
            <div class="col-lg-7">
                <ul class="d-flex navbar-nav flex-row">
                    <li><a class="effect-underline" href="#"> Terms and Conditions</a> </li>
                    <li><a class="effect-underline" href="#"> Privacy Policy</a></li>
                    <li><a class="effect-underline" href="#"> Contact US</a></li>
                </ul>
            </div>
            <div class="col-lg-5">
                <ul class="d-flex navbar-nav flex-row justify-content-end">
                    <li>Follow US</li>
                    <li>
                        <img src="assets/img/facebook.svg" alt="facebook">
                    </li>
                    <li>
                        <img src="assets/img/twitter.svg" alt="twitter">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
