
<section class="home fadeIn">
    <section class="slide-home">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-5  item-slide " data-aos="fade-up">
                    <div class="overlay"></div>
                    <div class="text" >
                        <h5 class="font-weight-light" data-aos="fade-up" data-aos-delay="300" >What’s your opinion </h5>
                        <h2 data-aos="fade-left" data-aos-delay="800">Pope Francis?</h2>
                        <p class="font-weight-light" data-aos="fade-left" data-aos-delay="100">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate tempore dignissimos iusto, provident recusandae velit, iure numquam atque facere necessitatibus, vel earum quos repellendus aliquam officia ipsum rem ut eius!</p>
                        <a class="font-weight-light effect-underline" href="#">
                            <img src="assets/img/wikipedia.svg" alt="More information wikipedia">
                            More information
                        </a>
                        <p class="font-weight-normal mb-0 mt-3" data-aos="fade-up" data-aos-delay="1000"> <strong>What´s Your Veredict?</strong></p>
                    </div>
                    <div class="buttons-vote">
                        <button class="btn btn-primary like w-50">
                            <div class="overlay-button"></div>
                            <img src="assets/img/like.svg" alt="">
                        </button>
                        <button class="btn btn-secondary dislike w-50">
                            <div class="overlay-button"></div>
                            <img  src="assets/img/dislike.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="closing-days w-100 d-flex">
            <div class="closing text-right d-flex align-items-center justify-content-end">CLOSING IN</div>
            <div class="days d-flex align-items-center font-weight-normal"> 22  <span class="font-weight-light" >days</span>    </div>
        </div>
    </section>
    <section class="votes">
        <div class="container">
            <div class="row">
                <app-subtitle-page></app-subtitle-page>
            </div>
            <h1 class="title">Votes</h1>
            <div class="row items-votes">
               <app-item-page   
                    class="col-lg-6 col-md-12 item d-flex flex-column justify-content-end" 
                    *ngFor="let itemVote of itemVotes; let i = index" 
                    [infoItemVote]="itemVote"
                    [index] = "i"
                    data-aos="zoom-in" 
                    data-aos-delay="300"
                    data-aos-once="true">
                </app-item-page>
            </div>
        </div>
    </section>
    <app-previusruling></app-previusruling>
    <app-footer></app-footer>
</section>
<app-loader [loader]="statusLoader"></app-loader>

